:root{
    --color-first: #f1c40f;
}
body{
    height: 100vh;
    font-family:"Poppins",sans-serif;
    font-size: 68.5%;
    line-height: 1;
}
.header--menu{
    width: 100vw;
    height: 5rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 10rem;
    box-shadow: 0 0 4px 1px rgba(128, 128, 128, 0.729);
}
.header--menu .menu--list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.header--menu .menu--list a {
    text-decoration: none;
    font-size: 1.875em;
    color: #808080;
    font-weight: 600;
    position: relative;
}
.header--menu .menu--list a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: black;
    bottom: -2px;
    left: 0;
    position: absolute;
    transition: width 0.5s;
}
.header--menu .menu--list a:hover::after{
    width: 100%;
}
.header--btn{
    width: 120px;
    height: 40px;
    color:#fff;
    font-size: 14px;
    background-color: var(--color-first);
    border:1px solid var(--color-first);
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.5s, color 0.5s;
}
.header--btn:hover{
    transform: scale(1.1);
    color: #808080;
}
.banner{
    width:1080px;
    height: 510px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 39px;
}
.banner .inline{
    width: 15%;
    border: 1px solid var(--color-first);
    display: flex;
    margin-bottom: 25px;
}
.banner h2{
    width: 354px;
    height: 187px;
    font-size: 3rem;
    font-weight: 700;
    color: #808080;
    line-height: 62.4px;
    letter-spacing: -2.4px;
    word-break: break-word;
    margin-bottom: 17px;
}
.banner p{
    font-size: 14px;
    color: #808080;
    line-height: 24.5px;
    font-weight: 500;
    letter-spacing: -0.8px;
    display: inline;
}
.banner--btn{
    height: 40px;
    width: 148px;
    margin-top: 40px;
    background-color: var(--color-first);
    color:#fff;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.5s,color 0.5s;
}
.banner--btn::after{
    content: ">";
    position: relative;
    right: -5px;
}
.banner--btn:hover{
    transform: scale(1.1);
    color: #808080;
}
.banner--img{
    width: 570px;
    height: 500px;
    object-fit: cover;
}
.block--white{
    width: 1232px;
    height: 104px;
    margin: 0 auto;
}
.section{
    width: 1232px;
    height: 645.7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 31px;
}
.section #section--img{
    width: 578px;
    height: 519px;
}
.section .content--first{
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}
.section #content--first{
    width: 192px;
    height: 172px;
    border: 1px solid white;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 12px 0px #0000001a;
}
.section .content--text{
    width: 360px;
    height: 147px;
    border: 1px solid #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px 0px #0000001a;
}
.content--text h2{
    font-weight: 500;
    color: var(--color-first);
    margin: 32px 32px 0 32px;
    line-height: 1.3px;
    font-size: 1rem;
}
.content--text p{
    color: #808080;
    line-height: 28px;
    font-weight: 500;
    margin: 14px 32px 32px 32px;
    font-size: 0.8rem;
}
.main--menu{
    width: 532px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.main--menu .span{
    width: 5%;
    border: 1px solid var(--color-first);
    margin-bottom: 14px;
}
.main--menu h6{
    color: var(--color-first);
    font-weight: 700;
    margin-bottom: 14px;
    font-size: 1rem;
}
.main--menu h1{
    font-size: 2rem;
    color:#808080;
    font-weight: 600;
}
.food{
    width: 1132px;
    height: 497px;
    margin: 0 auto;
    border: 1px solid white;
    box-shadow: 0 0 12px 0 #0000001a;
    border-radius: 14px;
}
.food .food--name{
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 106px;
    margin-top: 2.5rem;
}
.food--name a{
    text-decoration: none;
    color: #fff;
    background-color: #f9be3d;
    padding: 5px 40px;
    border: 1px solid #f9be3d;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.5s,box-shadow 0.5s;
}
.food--name a:hover{
    color: #808080;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.food .food--list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.food--list .food--info{
    width: 178px;
    height: 212px;
    border: 1px solid #0000001a;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.food--info .food--title{
    font-size: 1rem;
    color: var(--color-first);
    margin-bottom: 9px;
    margin-top: 1.2rem;
    font-weight: 500;
}
.food--info .food--content{
    color: #808080;
    text-align: center;
    line-height: 20px;
    margin-bottom: 16px;
    font-size: 0.8rem;
}
.food--info .food--price{
    color: #808080;
    font-weight: 600;
    font-size: 1rem;
    position: relative;
    bottom: -1rem;
}
.food--item .item--name{
    position: absolute;
    transform: translate(38px, -58px);
}
.sale{
    width: 1248px;
    height: 461px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 32px;
}
.info--left .span{
    width: 15%;
    border: 0.5px solid var(--color-first);
    margin: 0 auto 14px auto;
}
.info--left .sale--title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 42.6px;
    color: #f9be3d;
}
.info--left .sale--title2{
    font-size: 2.1rem;
    font-weight: 700;
    color: #808080;
    text-transform: uppercase;
    line-height: 52px;
}
.info--left .sale--content{
    font-size: 0.8rem;
    color: #808080;
    line-height: 24.5px;
}
.info--left .sale--btn__order{
    margin-top: 40px;
    padding: 15px 20px;
    border: 1px solid var(--color-first);
    border-radius: 10px;
    color: #fff;
    background-color: var(--color-first);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.5s, color 0.5s;
}
.info--left .sale--btn__order::after{
    content: ">";
    position: relative;
    right: -5px;
    top: 0.5px;
}
.info--left .sale--btn__order:hover{
    transform: scale(1.1);
    color: #808080;
}
.info--right .sale--img{
    width: 653px;
    height: 451px;
    object-fit: contain;
}
.form{
    width: 732px;
    height: 524px;
    box-shadow: 0 0 12px 0 #0000001a;
    border-radius: 16px;
    margin: 0 auto;
}
.form .info{
    padding: 30px;
}
.form .form--span{
    width: 15%;
    border: 0.5px solid var(--color-first);
    background-color: var(--color-first);
    margin: 39px auto 14px auto;
}
.form .form--title{
    font-size: 1rem;
    color: #f9be3d;
    font-weight: 500;
    line-height: 20.8px;
    text-align: center;
}
.info .form--content{
    color:#808080;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
}
.form--info{
    text-align: center;
}
.form--info input{
    width: 90%;
    height: 2rem;
    margin-top: 35px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #000000d9;
    padding: 0 8px;
}
.form--info .form--btn__bookNow{
    margin-top: 5rem;
    font-size: 0.9rem;
    color: #fff;
    border: 1px solid var(--color-first);
    background-color: var(--color-first);
    width: 150px;
    height: 32px;
    border-radius: 999px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.5s, transform 0.5s linear, box-shadow 0.5s;
}
.form--info .form--btn__bookNow:hover{
    box-shadow: 0 0 12px 0 #0000001a;
    transform: scale(1.1);
    color: #808080;
}
.branch{
    width: 532px;
    height: 167px;
    margin: 0 auto;
}
.branch .branch--span{
    width: 20%;
    border: 0.5px solid var(--color-first);
    margin: 14px auto 14px auto;
}
.branch .branch--title{
    font-size: 1rem;
    color: #f9be3d;
    font-weight: 700;
    line-height: 20.8px;
    text-align: center;
}
.branch .branch--content{
    color: #808080;
    font-size: 2rem;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}
.branch--system{
    width: 1232px;
    height: 245px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 16px;
}
.branch--system .branch--info{
    width: 233px;
    height: 245px;
    background-image: url("https://i.pinimg.com/564x/95/a6/9d/95a69d46ca2ca91eef2f1a1126dbc74f.jpg");
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 0;
    transition: opacity 0.3s ease-in;
}
.branch--system .branch--info:nth-child(2),
.branch--system .branch--info:nth-child(5){
    background-image:url("https://i.pinimg.com/564x/a2/1e/1b/a21e1b3e7c0a4661ac328d0c7a33ea14.jpg");
}
.branch--system .branch--info:nth-child(3){
    background-image: url("https://i.pinimg.com/564x/5d/19/ec/5d19ec8da5bb06afc9f69182d19c974c.jpg");
}
/* Tối background lại */
.branch--system .branch--info::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.5);
}
.branch--system .branch--info:hover{
    opacity: 0.5;
}
.branch--system .branch--title{
    color: #f9be3d;
    font-size: 1rem;
    font-weight: 700;
    z-index: 1;
}
.branch--system .branch--address{
    color: #fff;
    font-weight: 600;
    z-index: 1;
    line-height: 24.5px;
    font-size: 14px;
    text-align: center;
    padding: 0 5px;
}
.branch--system .branch--direction a{
    position: absolute;
    color: #fff;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 14px;
    padding: 10px 20px;
    z-index: 1;
    right: 30%;
    bottom: 30px;
    transition: border 0.5s, background-color 0.5s, color 0.5s;
}
.branch--system .branch--direction a:hover{
    border: 1px solid #f9be3d;
    background-color: hsla(0, 0%, 100%, 0.3);
    color: #f9be3d;
    opacity: 1;
}
.footer{
    width: 1425px;
    height: auto;
    padding: 30px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: flex-start;
    box-shadow: 0 0 13px 0 #0000001a;
    margin: 0 -15px;
}
.footer--left .footer--title{
    width: 200px;
    color: #f9be3d;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 40px;
}
.footer--left .footer--social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    gap: 10px;
}
.footer--social .fa-brands{
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s ease;
}
.footer--social .fa-facebook{
    background-color: #415993;
}
.footer--social .fa-youtube{
    background-color: #bd342b
}
.footer--social .fa-tiktok{
    background-color: #262626;
}
.footer--social .fa-instagram{
    background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f
      );
}
.footer--social .fa-brands:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px 0 #0000001a;
}
.footer--contact .contact--title,
.footer--opening .opening--title,
.footer--right .right--title{
    color: #f9be3d;
    line-height: 24px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.footer--contact .contact--email,
.footer--contact .contact--numberPhone,
.footer--opening .opening--day,
.footer--opening .opening--time,
.footer--right .right--address{
    font-size: 14px;
    line-height: 24.5px;
    font-weight: 600;
    color: #050505;
}